* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'IBM Plex Mono', monospace;
    background: url('https://a-static.besthdwallpaper.com/clean-blackboard-wallpaper-2048x1152-167_49.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    height: 100vh;
  
}

.container {
    margin-top: 2em;
    
}

h2, h5 {
    color: #f8f8f8;
    margin-bottom:0.5em;
    text-transform: uppercase;
}

.form, .to-do-list {
    background-color: RGB(66, 203, 165);
    box-shadow: 2px 2px 8px #000;
    width: 60%;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    min-width: 240px;
}

.form {
    border-radius: 1em;
    margin-bottom: 1em;
}

.to-do-list {
    border-radius:1em;
   
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 4px;
    height: 2.2em;
    background-color: RGBA(19, 160, 248, 1);
    color: #fff;
}

.btn:hover {
    cursor: pointer;
}

.input {
    height: 2em;
    border-radius: 5px;
    border: none;
    width: 50%;

    box-shadow: 1px 2px 1px #000;
}

.to-do-list li {
    list-style: none;
    color: #f8f8f8;
    padding: .5em;
    margin: 0.5em;
    border: 1px solid white;
    border-radius: 5px;
    width: 56%;
    margin: 1em auto;
    box-shadow: 1px 1px 2px #000;
    overflow:hidden;
}

.to-do-list li:hover {
    cursor: pointer;
    background-color: RGB(66, 190, 145);
}


@media(width <= 600px){
    .form, .to-do-list {
        width: 80%;
    }
}

